h1 {
    color: rgb(255, 255, 255);
    background-color:rgb(15, 158, 15);
    background-size: 600px;
}
body {
    background-color: white(217, 226, 221);
   }
li{
    list-style:none;
    }
 ul{
        display:flex;
        }
li{
            list-style:none;
            padding:20px 50px 20px 20px;
            }
 .header{
                background-color: rgb(41, 236, 116);
                height: 50px;
                }
.about-me{
    color:rgb(41, 238, 23);
}
.marin{
    img
}
.about-me p{
    font-size: 30px;
}
.last h3{
    font-size:50px;
}